@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{

    background-color: rgb(240, 220, 223);
    
    
}

/* header */

header{

    position: relative;
    height: 100px;
    background-color: white;

}

.logo{

    height: 140px;
    width: 140px;
    margin: 0;
}

.headertitle{

font-size: 30px;
color: red;
font-family: 'Rubik Moonrocks', cursive;


}

/* barre de recherche en flex avec le logo */
.logotitle{

    display: flex;

}

/* mon compte et panier */

.connexion{
  padding-top: 20px;
   position: absolute;
   top: 0;
   margin-left: 80%;
   text-decoration: none;
   color: black;
  
  
}


.textdeco{
    text-decoration: none;
    color:white;
 
    font-weight: 500;

}

.compte,.panier{
margin-right: 30px;
color:red;
   
}


/* menu */

.nav{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: red;
    height: 30px;
    width: 80%;
    margin-left: 200px;
    margin-top: 0 auto;

}

#serchbar{

    height: 30px;
    width: 500px;
    background-color: rgb(249, 241, 233);
    margin-left: 30%;
    margin-bottom: 40px;
    border-radius: 30px;

   
}

.imgcategorie{

    margin-top: 20px;
    height: 300px;
    width: 300px;


}

.escarpins{

    margin-left: 40px;
}
.btne,.btncc,.btns{

    height: 40px;
    width: 250px;
    background-color: red;
    color: white;
    margin-left: 30px;
}




.categories{

display: flex;
justify-content: space-around;
align-items: center;


}

div .price p{
  text-align: center;
}
/* animation image */

.redprice{

  color:red;
}

.line{
  text-decoration-line: line-through;


}




.promo{
  background-color: red;
  color: white;
height: 30px;
width: 70px;
position: absolute;

top: -1;
}

/* redimentionner la taille des images chaussures */

.dimension{

  height: 200px;
  width: 200px;
}

.ventes{

    display:flex ;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    animation-name: glissement;
    animation-duration: 10s;
    animation-iteration-count: 4;
    margin-bottom: 50px;

}

  @keyframes glissement {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  /* section service */

  .livraison,.paiment,.retour{

    height: 60px;
    width: 60px;
  }
  .livraison:hover,.paiment:hover,.retour:hover{

    height: 100px;
    width: 100px;

  }
  .services{

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }

  .fb,.insta,.snapshat{
height: 30px;
width: 30px;
margin-right: 10px;

  }

  .fb:hover,.insta:hover,.snapshat:hover{

    height:100px ;
    width: 100px;
    border-radius: 50%;
  }

  .reseaux{

margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  footer{

    height: 250px;
    width: 100%;
    background-color:white;
  }
  .cg{
margin-right: 100px;
    margin-left: 30px;
    text-decoration: none;
    color: black;
    font-weight: 300px;
  }

  h4.contactfooter{

    margin-top: 40px;
  }
.contacts{

display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
  
}

  

/* IL ME RESTE A FAIRE LE CHOIX DE LA POLICE ET QUELQUE 
 */

/* responsive */








/* _______________________page authentification_______________ */


header{

  height: 250px;
  width: 100%;
  background-color: white;

}

.senregister{

  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

h1{

  text-align: center;
  margin-bottom: 40px;
}

#mail,#password,#adresse{
  height: 30px;
  width:400px ;
  margin-bottom: 40px;


}

.pauth{

margin-bottom: 40px;

}

.mail{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btnconnecte,.btnenregistrement{

  height: 40px;
  width: 250px;
  background-color: red;
  color: white;
  margin-bottom: 40px;
}

.containerenregis{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
 .name{
margin-top: 40px;
margin-bottom: 40px;

 }

 .btnenregistrement{

  margin-top: 40px;
 }

 .lieu{
margin-bottom: 40px;

 }

 /* mettre les chekbox cote a cote*/


 /* _________________page conditions generales____________________ */


/* titre */

header{


}
.cgs{

  text-align: text;
  margin-top: 40px;
}

 .paracg{

  margin: 100px 100px
 }
/* paragraphe */

  .paracg p {

  margin-bottom: 40px;
  text-align: justify;

 }

 /* ______________page mon panier__________________________ */

 .paniershop{

  font-size: 200px;
  margin-bottom: 30px;
 
 }
 .pantitle{
font-size: 40px;
  margin-top: 40px;
 }


/* animation panier */
 .continubtn,.validebtn{

  height: 40px;
  width: 400px;
  color: white;
  background-color: red;
  margin-bottom: 20px;


 }

 .shop{

 display: flex;
justify-content: center;
align-items: center;
flex-direction: column;


 }


/* 
/* ___________page de paiment________________
   */

header{


}
.paiementtitle{
  margin-bottom: 40px;
  margin-top: 40px;

  
}

.paiement{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}

.cards{

  height: 30px;
  width: 400px;
  margin-left: 20px;
  margin-bottom:40px ;
}

#ncard{
height: 20px;
width: 200px;
margin-bottom:30px ;

}

#datem,#datey,#code{

  height: 20px;
  width: 80px;
  margin-bottom: 30px;

  
}

.inputpaiment{

display: flex;
justify-content: center;
align-items:center ;
flex-direction: column;

}

.validerbtn, .abondonnerbtn{

  height: 30px;
  width:200px ;
  background-color: black;
  color: white;
  margin-bottom: 30px;


}